<html>
    <head>
        <title>Fundos de Investimento Imobiliário</title>
    </head>
    <body>
            <h1>
                Fundos de Investimento Imobiliário: <br>
            </h1>
                <i>Fontes dos dados:</i> https://www.fundsexplorer.com.br/ranking
            <h2>
                Dividend Yield: <br>
            </h2>
            é a rentabilidade dos dividendos de uma empresa em relação ao preço de suas ações. <br> <br> <br>                   
            <b>Gráfico dos Dividend Yield</b> com valores maiores que 1% e menores que 8%: <br>          
            <img src="{{ url_for('static', filename='grafico') }}">  
    </body>
</html>

